/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clash+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Switzer:wght@400;500;600;700&display=swap');

@font-face {
  font-family: "ClashDisplay";
  src: url("assets/fonts/ClashDisplay-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inclusive Sans";
  src: url("assets/fonts/InclusiveSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inclusive Sans";
  src: url("assets/fonts/InclusiveSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Switzer";
  src: url("assets/fonts/Switzer-Medium.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-base: "Inclusive Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --font-heading: "ClashDisplay", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --font-alt: "Switzer", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --black: #000;
  --gray: #494E56;
  --white: #fff;
  --light-gray: #E1E6E8;
}

.black {
    color: var(--black);
}

.gray {
    color: var(--gray);
}

.white {
    color: var(--white);
}

.light-gray {
    color: var(--light-gray);
}


body {
  font-family: var(--font-base);
  color: var(--black);
  box-sizing: border-box;
  margin: 0;
}

.text-xxs {
    font-size: clamp(0.875rem, 0rem + 0.9722vw, 1.55556rem);
    font-family: var(--font-base);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.06225rem;
    text-transform: uppercase;
}

.text-xs,
.menu-item {
    font-size: clamp(1rem, 0rem + 1.1111vw, 1.77775rem);
    font-family: var(--font-base);
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    text-transform: uppercase;
}

.text-s {
    font-size: clamp(1.375rem, 0rem + 1.5278vw, 2.44444rem);
    font-family: var(--font-alt);
    font-style: normal;
    font-weight: 600;
    line-height: 118.182%;
    letter-spacing: 0.04888rem;
}

.text-sm {
    font-size: clamp(1.625rem, 0rem + 1.8055vw, 2.88888rem);
    font-family: var(--font-alt);
    font-style: normal;
    font-weight: 700;
    line-height: 115.385%;
    letter-spacing: 0.05775rem;
}

.heading-xl {
    font-size: clamp(3.125rem, 0rem + 3.4722vw, 5.55556rem);
    font-family: var(--font-heading);
    font-style: normal;
    font-weight: 700;
    line-height: 96%;
    letter-spacing: 0.11113rem;
    text-transform: uppercase;
}

.heading-lg {
    font-size: clamp(2.5rem, 0rem + 2.7778vw, 4.44444rem);
    font-family: var(--font-base);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.17775rem;
    text-transform: uppercase;
}

/* HEADER */
.site-header__inner {
    padding: 1.85rem 3.75rem;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.col-2 {
    width: calc(100%/12*2);
}
.col-2.site-header__col.site-header__col--cta {
    display: flex;
    justify-content: end;
}

.col-4 {
    width: calc(100%/12*4);
}

.col-6 {
    width: calc(100%/12*6);
}

.site-header {
    position: relative;
    z-index: 100;
    background: transparent;
}

.site-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

ul#primary-menu {
    display: flex;
    list-style-type: none;
    gap: 1.25rem;
    padding: 0;
    margin: 0;
}

.menu-item-type-custom a {
    color: #fff !important;
    text-decoration: none !important;
}

button.btn.btn-primary.text-xxs {
    background: #fff;
    padding: 1.5rem 2.5rem;
    border: 0;
    border-radius: 80px;
}

/* HOMEPAGE */
.hero {
    min-height: 100vh;
    width: 100%;
    background-image: url('http://headsd82.sg-host.com/wp-content/uploads/2025/12/hero.jpg'), linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-size: cover, 100%;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    margin-top: 0;
    padding-top: 0;
    display: flex;
    justify-content: start;
    align-items: end;
}

.container-hero {
    display: flex;
    align-items: start;
    flex-direction: column;
    padding-left: 3.75rem;
    padding-bottom: 3.25rem;
}

.hero-buttons {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 1.56rem;
}

h1, h2, h3, p {
    margin: 0;
}

h1.heading-xl.white {
    width: 60%;
    padding-bottom: 3.56rem;
}

p.text-s {
    width: 70%;
}

button.btn.btn-secondary.text-xxs {
    width: fit-content;
    background: #fff;
    border: 0;
    padding: 1.75rem 2.5rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

button.btn.btn-secondary.text-xxs svg {
    width: 1em;
    height: 1em;
}

/* SECTION 1 */
.section-1 {
    background-color: #fff;
    padding: 7.5rem 0;
}

.container-section-1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.section-1-col-1,
.section-1-col-3 {
    width: calc(100%/12*1);
}

.section-1-col-2 {
    width: calc(100%/12*10);
    display: flex;
    flex-direction: row;
}

.section-1-col-2 .info-section,
.title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2.5rem;
}